.listedTask {
  cursor: pointer;
  color: blue;
}

.listedTask:hover {
  text-decoration: underline;
}

.detail-display {
  display: none;
}

.priority3 {
  background-color: red;
}
.priority2 {
  background-color: orange;
}
.priority1 {
  background-color: lightblue;
}

.completed-tasks {
  display: none;
}
