h3, label, th {
  font-family: 'Nunito', sans-serif;
}

input, table, .detail-display {
  font-family: 'Lato', sans-serif;
}

.task-name {
  font-weight: bold;
}

.markComplete {
  background-color: #66CC00;
}

.remove {
  background-color: #CC0000;
}

textarea {
  width: 100%;
}

.listedTask {
  cursor: pointer;
  color: darkgray;
}

.listedTask:hover {
  text-decoration: underline;
}

.detail-display {
  display: none;
}

.priority3 {
  background-color: red;
}
.priority2 {
  background-color: orange;
}
.priority1 {
  background-color: lightblue;
}

.completed-tasks {
  display: none;
}
